DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DJANGO_TIME_ZONE=America/Guayaquil

# DB_ENGINE=sqlite usa SQLite local; DB_ENGINE=postgres usa Postgres (docker-compose)
DB_ENGINE=postgres
DB_NAME=isp_db
DB_USER=isp_user
DB_PASSWORD=isp_pass
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0
